{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container">
<div class="master-title col-12">
	<h1>Inscription</h1>
</div>

<div class="form-group">

{{ form_start(placesForm) }}

{{ form_end(placesForm) }}

</div>

{% endblock %}
