

@media all and (max-width: 959px) {
    .icon {
        display:block;
        background-color: #fff;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border-width: 2px;
        border-style: outset;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-color: buttonface;
        color: #3F51B5;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    .text {
        display: none;
    }

    .menu-desktop .pc {
        display:none;
    }

    .test {
        position: absolute;
        bottom:0;
    }
}

.mobile{
    padding: 0px;
    padding-bottom: 3px;
}

@media all and (min-width: 960px) {
    .text {
        display: block;
    }
    .icon {
        display:none;
    }

    .menu-desktop .pc {
        display:block;
    }

    .mobile--buttons .mobile {
        display:none;
    }

    .test {
        position: absolute;
        top:0;
    }
}

