.informations__header {
    width: 100%;
    height: 4rem;
    background-color: #3f51b5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    color: white;
    margin-bottom: 2rem;
}

.informations__header h2 {
  font-weight: lighter;
}

.informations__content h3 {
    font-size: 2rem;
}

.informations__content {
    margin-bottom: 3rem;
    padding-right: 2rem;
    padding-left: 2rem;
    text-align: justify;
}

.informations__content li {
    text-decoration: none;
}



.informations {
    overflow-y: auto;
}

.informations h1:hover {
    text-decoration: none;
    color:white;
}