.mobile--buttons {
    display: none;
}

.localisation--button--desktop {
    background-color: white;    
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom :13px;
    right: 10px;
    z-index:5;
}



@media all and (max-width: 991px) {
    .mobile--buttons {
        display: block;
        display:flex;
        justify-content: space-around;
        position: fixed;
        bottom :0;
        width:100%;  
        z-index: 5;    
    }

    .localisation--button--desktop {
        display:none;
    }
}